@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e9e2e2;
    overflow-x: hidden;
}


.menu {
    /* display: flex; */
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: #FFF;
}

.menu__logo,
.menu input{
    display: none;
}

.menu__itens {
    display: flex;
    justify-content: center;
}

.menu__item {
    list-style: none;
}

.menu__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 0 24px;
    height: 64px;
    transition: background-color 1s ease, color 0.5s ease;
}


.menu__link:hover{
    color: #000;
    background-color: #aaa5a5c7;
}

#botao:hover{
background-color: royalblue;
}



.menu a{
    text-decoration: none;
    color: #000;
}

.menu a:hover{
    color: #0000ff;
}


.blog{
background-color: white; /* Fundo branco */
border: 1px solid #00000033; /* Borda com transparência */
margin: 7%; /* Margem como postagem de blog */
padding: 5%; /* Espaçamento interno */
}

.img__conteudo{
    width: 90%;
    margin: auto;
    display: block;
}


footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    width: 100%;
}

h2, p, img {
    margin: 20px 0;
}

p{
    font-size: 18px;
}

@media screen and (max-width: 768px) {

    .menu__itens{
        display: none;
        flex-direction: column;
    }

    .menu__link {
        border-top: 1px solid rgb(200, 200, 258);
        width: 100vw;
        padding: 0;
        min-width: 200px;
    }

    .menu__logo {
        display: block;
        color:#000;
        font-size: 2rem;
        cursor: pointer;
    }

    .menu input:checked~.menu__itens{
        display: block;
    }

}
